.product{
    padding: 10px;
    margin: 10px;
    display: flex;
    border: 1px solid #eeeeee;
    box-shadow: 1px 1px 5px black;
}
.product .infos{
    margin-left: 10px;
    flex-grow: 1;
}
.product .title{
text-align: center;
}
.product .seller{
color:gray;
}
.product .description{
color:gray;
}
.product img{
    width: 200px;
    height: auto;
    flex-shrink: 0;
}
.product .posted-on{
text-align: right;
width:100%;
}
.product .controls button{
height: 40px;
width:100px;
flex-shrink: 0;
}          
